.Video-title-container {
    position: absolute;
    top: 40%;
    width: 100%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
    padding: 2rem;
    z-index: 10;
    height: 100%;
}

.Video-title{
    font-size:280%;
    font-weight: 700;
    color: aliceblue;
}
.Video-des{
    font-style: bold;
    width: 50%;
    color: aliceblue;
}

.Buttons{
    padding-left: 10%;
    padding-top: 2%;
    display: flex;
}

.Play-btn {
    background-color:azure; 
    color:black;
    width: 13%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    margin-right: 3%;
    font-size: 90%;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.Play-btn:hover{
    background-color: rgb(183, 171, 171, 0.8);
}

.more-info-btn{
    background-color: rgb(183, 171, 171, 0.1);
    color: whitesmoke;
    width: 13%;
    padding: 1%;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    font-size: 90%;
    border: 1px solid rgba(255, 255, 255, 0.3); 
}